<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Cabaretier</title>
</head>
<body>
<div align="center">
    <h1>Cabaretier</h1>
    <br />
    <form action="#" th:action="@{/cabaretier/{cabaretier_id}/save}" th:object="${cabaretier}"
          method="post">

                <table th:object="${cabaretier}" border="0" cellpadding="10">
                	<tr style="display:none;">
                		<td>Cabaretier ID:</td>
                		<td><input type="text" th:field="*{cabaretier_id}" readonly="readonly"/></td>
            		</tr>
                    <tr>
                        <td>Cabaretier Voornaam:</td>
                        <td>
                            <input type="text" th:field="*{cabaretier_voornaam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Cabaretier Achternaam:</td>
                        <td>
                            <input type="text" th:field="*{cabaretier_achternaam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Geboortedatum:</td>
                        <td>
                            <input type="text" th:field="*{geboortedatum}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Geslacht:</td>
                        <td>
                            <input type="text" th:field="*{geslacht}" readonly="readonly" />
                        </td>
                    </tr>
        	</table>
        
    </form>
</div>
</body>
</html>