<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Ticket Theater - Eigenaar Aanvraag Accepteren</title>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/eigenaar.css}" rel="stylesheet" />
</head>
<body>

<div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
				<td onclick="window.location.href = '/login'">Login</td>
			</tr>
		</table>
    </div>

<div class="line"></div>

<div align="center">
    <h1>Eigenaar Aanvraag Accepteren</h1>
    <br/><br/>
    <table id="eigenaar-table" border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Eigenaar ID</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eigenaar : ${listEigenaar}">
            <td th:text="${eigenaar.eigenaar_id}">Eigenaar ID</td>
            <td th:text="${eigenaar.eigenaar_voornaam}">Voornaam</td>
            <td th:text="${eigenaar.eigenaar_achternaam}">Achternaam</td>
            <td>
                <a th:href="@{'/eigenaar/accepteren/' + ${eigenaar.eigenaar_id}}">Accepteren</a>
                <a th:href="@{'/eigenaar/weigeren/' + ${eigenaar.eigenaar_id}}">Weigeren</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>

</body>
</html>