<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ticket Theater - Login Eigenaar</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/logineigenaar.css}" rel="stylesheet" />
</head>
<body>

<div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
				<td onclick="window.location.href = '/login'">Login</td>
			</tr>
		</table>
    </div>

<div class="line"></div>

<div align="center">
    <h1>Login Eigenaar</h1>
    <br />
    <form action="#" th:action="@{/eigenaar/login/confirm}" th:object="${eigenaar}"
          method="post">

        <table id="login-eigenaar-table" border="0" cellpadding="10">
            <tr class="login-eigenaar-table-tr">
                <td class="login-eigenaar-table-td" >Emailadres:</td>
                <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{emailadres}" /></td>
            </tr>
            <tr class="login-eigenaar-table-tr" >
                <td class="login-eigenaar-table-td" >Wachtwoord:</td>
                <td><input type="password" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{wachtwoord}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Login</button> </td>
            </tr>
        </table>
    </form>
    
    <h2><a onclick="window.location.href = '/eigenaar/aanvraag'" >Nog geen account? Vraag hier je account aan!</a></h2>
    
</div>

    <div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>

</body>
</html>