<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ticket Theater - Profiel Eigenaar</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/eigenaar.css}" rel="stylesheet" />
</head>
<body>

<div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
			</tr>
		</table>
    </div>

<div class="line"></div>

<body>
<div align="center">
    <h1>Profiel Eigenaar</h1>
    <br />
    <form action="#" th:action="@{/eigenaar/{eigenaar_id}/save}" th:object="${eigenaar}"
          method="post">


        <table id="eigenaar-table" th:object="${eigenaar}" border="0" cellpadding="10">
            <tr>
                <td>Eigenaar ID:</td>
                <td>
                    <input type="text" th:field="*{eigenaar_id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Voornaam:</td>
                <td>
                    <input type="text" th:field="*{eigenaar_voornaam}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Achternaam:</td>
                <td>
                    <input type="text" th:field="*{eigenaar_achternaam}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Woonplaats:</td>
                <td>
                    <input type="text" th:field="*{woonplaats}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Telefoonnummer:</td>
                <td>
                    <input type="text" th:field="*{telefoonnummer}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Gebruikersnaam:</td>
                <td>
                    <input type="text" th:field="*{emailadres}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Verified:</td>
                <td>
                    <input type="text" th:field="*{verified}" readonly="readonly" />
                </td>
            </tr>

        </table>
    </form>
    
    <h2><a onclick="window.location.href = '/theater/toevoegen'">Theater Toevoegen | </a><a onclick="window.location.href = '/theaterzaal/toevoegen'"> Theaterzaal Toevoegen</a></h2>
    <h2><a onclick="window.location.href = '/voorstelling/inplannen'"> Voorstelling Inplannen |</a><a onclick="window.location.href = '/voorstelling/annuleren'"> Voorstelling Annuleren</a></h2>
    
</div>

<div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>

</body>
</html>