<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Gebruiker updaten</title>
</head>
<body>
<div align="center">
    <h1>Create New Product</h1>
    <br />
    <form action="#" th:action="@{/gebruiker/aanpassen/save}" th:object="${gebruiker}"
          method="post">

        <table border="0" cellpadding="10">
        	<tr>
                <td>Gebruiker ID:</td>
                <td><input type="text" th:field="*{gebruiker_id}" /></td>
            </tr>
            <tr>
                <td>Voornaam:</td>
                <td><input type="text" th:field="*{gebruiker_voornaam}" /></td>
            </tr>
            <tr>
                <td>Achternaam:</td>
                <td><input type="text" th:field="*{gebruiker_achternaam}" /></td>
            </tr>
            <tr>
            <td>Geboortedatum:</td>
            <td><input type="text" th:field="*{geboortedatum}" /></td>
            </tr>
            <tr>
                <td>Leeftijdscategorie:</td>
                <td><input type="text" th:field="*{leeftijdscategorie}" /></td>
            </tr>
            <tr>
                <td>Afkomst:</td>
                <td><input type="text" th:field="*{afkomst}" /></td>
            </tr>
            <tr>
                <td>Gebruikersnaam:</td>
                <td><input type="text" th:field="*{gebruikersnaam}" /></td>
            </tr>
            <tr>
                <td>Wachtwoord:</td>
                <td><input type="text" th:field="*{wachtwoord}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>