<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Ticket Theater</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

    <div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
				<td onclick="window.location.href = '/login'">Login</td>
			</tr>
		</table>
    </div>
    
    <div class="deadPixel"></div>
    <div class="line"></div>
    <div id="banner">
        <img id="bannerImg" src="images/banner.jpg"/>
    </div>
    
    <div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>
    
</body>
</html>
