<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ticket Theater - Login</title>
</head>
<body>
<div align="center">
    <h1>Login</h1>
    <br />
    <form action="#" th:action="@{/gebruiker/login/confirm}" th:object="${gebruiker}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Gebruikersnaam:</td>
                <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{gebruikersnaam}" /></td>
            </tr>
            <tr>
                <td>Wachtwoord:</td>
                <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{wachtwoord}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Login</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>