<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Voorstelling overzicht</title>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}" type="text/javascript"></script>
</head>
<body>
<div align="center">
	<input type="checkbox" id="prefrence" name="prefrence" value="personal">
	<label for="prefrence"> Gebruik persoonlijke voorkeur</label>
	    <select id="voorstellingSoort">
	    	<option>Alles weergeven</option>
	    	<option>Cabaretier</option>
	    	<option>Concert</option>
	    	<option>Theatervoorstelling</option>
	    </select>
	    
	    <select id="leeftijdscategorie">
	    	<option>Alles weergeven</option>
	    	<option>3+</option>
	    	<option>12+</option>
	    	<option>16+</option>
	    	<option>18+</option>
	    	<option>65+</option>
	    </select>
	    
	    <select id="afkomst">
	    	<option>Alles weergeven</option>
	    	<option>Nederlands</option>
	    	<option>Aziatisch</option>
	    	<option>Marokaans</option>
	    	<option>Islamitsch</option>
	    	<option>Joods</option>
	    </select>
    <table border="1" id="cabaretier" cellpadding="10">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Leeftijdscategorie</th>
            <th>Afkomst</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortedatum</th>
            <th>Geslacht</th>
            <th>Geannuleerd</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cabaretiers : ${listCabaretiers}">
            <td th:text="${cabaretiers.datum}">Datum</td>
            <td th:text="${cabaretiers.tijd}">Tijd</td>
            <td th:text="${cabaretiers.v_leeftijdscategorie}">Leeftijdscategorie</td>
            <td th:text="${cabaretiers.afkomst}">Afkomst</td>
            <td th:text="${cabaretiers.cabaretier_voornaam}">Voornaam</td>
            <td th:text="${cabaretiers.cabaretier_achternaam}">Achternaam</td>
            <td th:text="${cabaretiers.geboortedatum}">Geboortedatum</td>
            <td th:text="${cabaretiers.geslacht}">Geslacht</td>
            <td th:text="${cabaretiers.geannuleerd}">Geannuleerd</td>
            <td >
				<a th:href="@{'/voorstellingen/kaartverkoop/' + ${cabaretiers.voorstelling_id}}">Koop kaartje</a>
			</td>
        </tr>
        </tbody>
    </table>
    
    <table border="1" id="concert" cellpadding="10">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Leeftijdscategorie</th>
            <th>Afkomst</th>
            <th>Artiest</th>
            <th>Concertnaam</th>
            <th>Genre</th>
            <th>Geannuleerd</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="concerten : ${listConcert}">
            <td th:text="${concerten.datum}">Datum</td>
            <td th:text="${concerten.tijd}">Tijd</td>
            <td th:text="${concerten.v_leeftijdscategorie}">Leeftijdscategorie</td>
            <td th:text="${concerten.afkomst}">Afkomst</td>
            <td th:text="${concerten.artiest}">Artiest</td>
            <td th:text="${concerten.concert_naam}">Concert naam</td>
            <td th:text="${concerten.genre}">Genre</td>
            <td th:text="${concerten.geannuleerd}">Geannuleerd</td>
            <td >
				<a th:href="@{'/voorstellingen/kaartverkoop/' + ${concerten.voorstelling_id}}">Koop kaartje</a>
			</td>
        </tr>
        </tbody>
    </table>
    
    <table border="1" id="theatervoorstelling" cellpadding="10">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Leeftijdscategorie</th>
            <th>Afkomst</th>
            <th>Theatervoorstelling naam</th>
            <th>Acteurs</th>
            <th>Productie afkomst</th>
            <th>Geannuleerd</th>
        </tr>
        </thead>
        <tbody>
	        <tr th:each="theatervoorstelling : ${listTheatervoorstelling}">
	            <td th:text="${theatervoorstelling.datum}">Datum</td>
	            <td th:text="${theatervoorstelling.tijd}">Tijd</td>
	            <td th:text="${theatervoorstelling.v_leeftijdscategorie}">Leeftijdscategorie</td>
	            <td th:text="${theatervoorstelling.afkomst}">Afkomst</td>
	            <td th:text="${theatervoorstelling.theatervoorstelling_naam}">Theatervoorstelling naam</td>
	            <td th:text="${theatervoorstelling.acteurs}">Acteurs</td>
	            <td th:text="${theatervoorstelling.productie_afkomst}">Productie afkomst</td>
	            <td th:text="${theatervoorstelling.geannuleerd}">Geannuleerd</td>   
	             <td >
					<a th:href="@{'/voorstellingen/kaartverkoop/' + ${theatervoorstelling.voorstelling_id}}">Koop kaartje</a>
				</td>         
	        </tr>
        </tbody>
    </table>
    
    
    <table border="1" id="cabaretierPref" cellpadding="10">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Leeftijdscategorie</th>
            <th>Afkomst</th>
            <th>Voornaam</th>
            <th>Achternaam</th>
            <th>Geboortedatum</th>
            <th>Geslacht</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cabaretiers : ${listCabaretiersPref}">
            <td th:text="${cabaretiers.datum}">Datum</td>
            <td th:text="${cabaretiers.tijd}">Tijd</td>
            <td th:text="${cabaretiers.v_leeftijdscategorie}">Leeftijdscategorie</td>
            <td th:text="${cabaretiers.afkomst}">Afkomst</td>
            <td th:text="${cabaretiers.cabaretier_voornaam}">Voornaam</td>
            <td th:text="${cabaretiers.cabaretier_achternaam}">Achternaam</td>
            <td th:text="${cabaretiers.geboortedatum}">Geboortedatum</td>
            <td th:text="${cabaretiers.geslacht}">Geslacht</td>
            <td >
				<a th:href="@{'/voorstellingen/kaartverkoop/' + ${cabaretiers.voorstelling_id}}">Koop kaartje</a>
			</td>
        </tr>
        </tbody>
    </table>
    
    <table border="1" id="concertPref" cellpadding="10">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Leeftijdscategorie</th>
            <th>Afkomst</th>
            <th>Artiest</th>
            <th>Concertnaam</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="concerten : ${listConcertPref}">
            <td th:text="${concerten.datum}">Datum</td>
            <td th:text="${concerten.tijd}">Tijd</td>
            <td th:text="${concerten.v_leeftijdscategorie}">Leeftijdscategorie</td>
            <td th:text="${concerten.afkomst}">Afkomst</td>
            <td th:text="${concerten.artiest}">Artiest</td>
            <td th:text="${concerten.concert_naam}">Concert naam</td>
            <td th:text="${concerten.genre}">Genre</td>
            <td >
				<a th:href="@{'/voorstellingen/kaartverkoop/' + ${concerten.voorstelling_id}}">Koop kaartje</a>
			</td>
        </tr>
        </tbody>
    </table>
    
    <table border="1" id="theatervoorstellingPref" cellpadding="10">
        <thead>
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Leeftijdscategorie</th>
            <th>Afkomst</th>
            <th>Theatervoorstelling naam</th>
            <th>Acteurs</th>
            <th>Productie afkomst</th>
        </tr>
        </thead>
        <tbody>
	        <tr th:each="theatervoorstelling : ${listTheatervoorstellingPref}">
	            <td th:text="${theatervoorstelling.datum}">Datum</td>
	            <td th:text="${theatervoorstelling.tijd}">Tijd</td>
	            <td th:text="${theatervoorstelling.v_leeftijdscategorie}">Leeftijdscategorie</td>
	            <td th:text="${theatervoorstelling.afkomst}">Afkomst</td>
	            <td th:text="${theatervoorstelling.theatervoorstelling_naam}">Theatervoorstelling naam</td>
	            <td th:text="${theatervoorstelling.acteurs}">Acteurs</td>
	            <td th:text="${theatervoorstelling.productie_afkomst}">Productie afkomst</td>   
	             <td >
					<a th:href="@{'/voorstellingen/kaartverkoop/' + ${theatervoorstelling.voorstelling_id}}">Koop kaartje</a>
				</td>         
	        </tr>
        </tbody>
    </table>
</div>

	<script type="application/javascript" th:inline="javascript" th:src="@{/js/voorstellingOverzicht.js}"></script>
</body>
</html>