<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ticket Theater - Profiel</title>
</head>
<body>
<div align="center">
    <h1>Profiel</h1>
    <br />
    <form action="#" th:action="@{/profile/{gebruikerId}/save}" th:object="${gebruiker}"
          method="post">


                <table th:object="${gebruiker}" border="0" cellpadding="10">
                    <tr>
                        <td>Gebruiker ID:</td>
                        <td>
                            <input type="text" th:field="*{gebruiker_id}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Voornaam:</td>
                        <td>
                            <input type="text" th:field="*{gebruiker_voornaam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Achternaam:</td>
                        <td>
                            <input type="text" th:field="*{gebruiker_achternaam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Leeftijd:</td>
                        <td>
                            <input type="text" th:field="*{geboortedatum}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Leeftijdscategorie:</td>
                        <td>
                            <input type="text" th:field="*{leeftijdscategorie}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Afkomst:</td>
                        <td>
                            <input type="text" th:field="*{afkomst}" readonly="readonly" />
                        </td>
                    </tr>

        </table>
    </form>
</div>
</body>
</html>