<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ticket Theater - Profiel</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/main.css" th:href="@{/css/profile.css}" rel="stylesheet" />
</head>
<body>

<div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
				<td onclick="window.location.href = '/login'">Login</td>
			</tr>
		</table>
    </div>

<div class="line"></div>

<div align="center">
    <h1>Profiel</h1>
    <br />
    <form action="#" th:action="@{/profile/{gebruikerId}/save}" th:object="${gebruiker}"
          method="post">


                <table id="profile-table" th:object="${gebruiker}" border="0" cellpadding="10">
                    <tr>
                        <td>Gebruiker ID:</td>
                        <td>
                            <input type="text" th:field="*{gebruiker_id}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Voornaam:</td>
                        <td>
                            <input type="text" th:field="*{gebruiker_voornaam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Achternaam:</td>
                        <td>
                            <input type="text" th:field="*{gebruiker_achternaam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Leeftijd:</td>
                        <td>
                            <input type="text" th:field="*{geboortedatum}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Leeftijdscategorie:</td>
                        <td>
                            <input type="text" th:field="*{leeftijdscategorie}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Afkomst:</td>
                        <td>
                            <input type="text" th:field="*{afkomst}" readonly="readonly" />
                        </td>
                    </tr>
        </table>
    </form>
    
    <h2><a th:href="@{'/gebruiker/aanpassen/' + ${gebruiker.gebruiker_id}}">Profiel Aanpassen | </a><a onclick="window.location.href = '/mijnKaarten'"> Mijn Kaarten</a></h2>
</div>

<div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>
    
</body>
</html>