<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Theatervoorstelling</title>
</head>
<body>
<div align="center">
    <h1>Theatervoorstelling</h1>
    <br />
    <form action="#" th:action="@{/theatervoorstelling/{theatervoorstelling_id}/save}" th:object="${theatervoorstelling}"
          method="post">

                <table th:object="${theatervoorstelling}" border="0" cellpadding="10">
                    <tr>
                        <td>Theatervoorstelling ID:</td>
                        <td>
                            <input type="text" th:field="*{theatervoorstelling_id}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Theatervoorstelling Naam:</td>
                        <td>
                            <input type="text" th:field="*{theatervoorstelling_naam}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Acteurs:</td>
                        <td>
                            <input type="text" th:field="*{acteurs}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Productie Afkomst:</td>
                        <td>
                            <input type="text" th:field="*{productie_afkomst}" readonly="readonly" />
                        </td>
                    </tr>
        	</table>
        
    </form>
</div>
</body>
</html>