<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Ticket Theater - Theatervoorstelling Bijwerken</title>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/theatervoorstelling.css}" rel="stylesheet" />
</head>
<body>

    <div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
				<td onclick="window.location.href = '/login'">Login</td>
			</tr>
		</table>
    </div>
    
    <div class="line"></div>

<div align="center">
    <h1>Theatervoorstelling Bijwerken</h1>
    <br />
    <form action="#" th:action="@{/theatervoorstelling/{theatervoorstelling_id}/bijwerken/save}" th:object="${theatervoorstelling}"
          method="post">

        <table id="theatervoorstelling-table" border="0" cellpadding="10">
        	<tr style="display:none;">
                <td>Theatervoorstelling ID:</td>
                <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{theatervoorstelling_id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Theatervoorstelling Naam:</td>
                <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{theatervoorstelling_naam}" /></td>
            </tr>
            <tr>
                <td>Acteurs:</td>
                <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{acteurs}" /></td>
            </tr>
            <tr>
            <td>Productie Afkomst:</td>
            <td><input type="text" required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{productie_afkomst}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Bijwerken</button> </td>
            </tr>
        </table>
    </form>
</div>

<div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>

</body>
</html>