<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Theater Toevoegen</title>
</head>
<body>
<div align="center">
    <h1>Theater toevoegen</h1>
    <br />
    <form action="#" th:action="@{/theater/save}" th:object="${theater}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Theaternaam:</td>
                <td><input type="text" th:field="*{theaternaam}" /></td>
            </tr>
            <tr>
                <td>Straatnaam:</td>
                <td><input type="text" th:field="*{straatnaam}" /></td>
            </tr>
            <tr>
            <td>Huisnummer:</td>
            <td><input type="text" th:field="*{huisnummer}" /></td>
            </tr>
            <tr>
                <td>Postcode:</td>
                <td><input type="text" th:field="*{postcode}" /></td>
            </tr>
            <tr>
                <td>Plaats:</td>
                <td><input type="text" th:field="*{plaats}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>