<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Ticket Theater - Voorstelling Annuleren</title>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/index.css" th:href="@{/css/voorstelling.css}" rel="stylesheet" />
</head>
<body>

    <div id="topBar">
        <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/>
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/voorstellingen'">Voorstellingen</td>
				<td onclick="window.location.href = '/theaters'">Theaters</td>
				<td onclick="window.location.href = '/login'">Login</td>
			</tr>
		</table>
    </div>
    
    <div class="line"></div>

<div align="center">
    <h1>Voorstelling Annuleren</h1>
    <br/><br/>
    <table id="voorstelling-table" border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Voorstelling ID</th>
            <th>Voorstellingsoort</th>
            <th>Datum</th>
            <th>Tijd</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="voorstelling : ${listVoorstelling}">
            <td th:text="${voorstelling.voorstelling_id}">Voorstelling ID</td>
            <td th:text="${voorstelling.voorstellingsoort}">Voorstellingsoort</td>
            <td th:text="${voorstelling.datum}">Datum</td>
            <td th:text="${voorstelling.tijd}">Tijd</td>
            <td>
                <a th:href="@{'/voorstelling/annuleren/' + ${voorstelling.voorstelling_id}}">Annuleren</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="bottomLine" class="line"></div>    
    <div id="bottomBar">
    	<table id="bottomBarMenu">
			<tr>
				<td onclick="window.location.href = '/eigenaar/login'">Eigenaar Login</td>
			</tr>
		</table>
    </div>

</body>
</html>